# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import citipy
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
herepath = os.path.dirname(os.path.abspath('__file__'))
weather_data = os.path.join(herepath,'cities.csv')
Cities_weather = pd.read_csv(weather_data)
Cities_weather = Cities_weather.drop(['Unnamed: 0'], axis=1)
Cities_weather.head()

,City,Country,Longitud,Latitud,Date,Max. Temperature,Humidity,Wind Speed,Cloudiness
0,Saint Anthony,US,-93.22,45.02,1586371289,12.78,34,6.70,90
1,Bredasdorp,ZA,20.04,-34.53,1586371290,16.00,72,6.20,99
2,Porbandar,IN,69.61,21.64,1586371290,25.30,85,6.00,0
3,Troitskoye,RU,84.68,52.98,1586371290,1.94,89,1.71,100
4,Cape Town,ZA,18.42,-33.93,1586370996,17.78,72,4.60,96

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
locations = Cities_weather[["Latitud", "Longitud"]]
humidity = Cities_weather['Humidity']
max_int = Cities_weather['Humidity'].max()


fig = gmaps.figure()
humidity_heat_map = gmaps.heatmap_layer(locations, weights = humidity, max_intensity = max_int, point_radius = 20)
fig.add_layer(humidity_heat_map)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
Ideal_weather = Cities_weather.loc[((Cities_weather['Cloudiness'] < 10) & (Cities_weather['Wind Speed'] < 5) & (Cities_weather['Max. Temperature'].between(21,25)))]

#Ideal_weather.count()    
#There's no null values :)
Ideal_weather

,City,Country,Longitud,Latitud,Date,Max. Temperature,Humidity,Wind Speed,Cloudiness
39,Carnarvon,AU,113.63,-24.87,1586371300,24.00,83,3.10,7
87,Manakara,MG,48.02,-22.13,1586371311,24.27,89,3.26,4
95,Faya,SA,42.45,18.39,1586371314,21.00,52,2.10,0
109,Kapit,MY,112.93,2.02,1586371317,23.09,94,0.21,3
121,Ancud,CL,-73.82,-41.87,1586371320,23.00,35,2.10,0
179,Maţāy,EG,30.78,28.42,1586371335,21.18,31,3.89,0
198,Coyhaique,CL,-72.07,-45.58,1586371340,21.00,52,1.50,0
215,Pisco,PE,-76.22,-13.70,1586371345,23.89,30,3.10,8
277,Ţahţā,EG,31.50,26.77,1586371361,23.00,25,4.10,0
388,Saint George,US,-113.58,37.10,1586371370,22.22,18,2.10,1
391,Werda,BW,23.28,-25.27,1586371389,22.46,18,2.48,4
393,Griffith,US,-87.42,41.53,1586371285,23.89,52,1.50,1
396,Concordia,AR,-58.02,-31.39,1586371390,21.11,46,3.10,0
427,Tura,IN,90.22,25.52,1586371397,22.18,46,3.65,4
434,Marzuq,YE,46.47,14.40,1586371399,24.59,25,3.30,0
473,Uíge,AO,15.06,-7.61,1586371409,21.93,68,1.00,9
495,Kahului,US,-156.47,20.89,1586371415,24.44,78,2.10,1
496,Bowen,AU,148.23,-20.02,1586371407,22.22,94,2.60,4
529,San Vicente,AR,-54.13,-26.62,1586371423,22.02,28,2.17,0
532,Troy,US,-83.15,42.61,1586371424,21.11,37,3.10,1

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
#Store into variable named hotel_df.
hotel_df = pd.DataFrame(Ideal_weather)
#Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ''
hotel_df.head()

,City,Country,Longitud,Latitud,Date,Max. Temperature,Humidity,Wind Speed,Cloudiness,Hotel Name
39,Carnarvon,AU,113.63,-24.87,1586371300,24.00,83,3.10,7,
87,Manakara,MG,48.02,-22.13,1586371311,24.27,89,3.26,4,
95,Faya,SA,42.45,18.39,1586371314,21.00,52,2.10,0,
109,Kapit,MY,112.93,2.02,1586371317,23.09,94,0.21,3,
121,Ancud,CL,-73.82,-41.87,1586371320,23.00,35,2.10,0,

In [55]:
#Set parameters to search for hotels with 5000 meters.
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
area = 5000
kind = 'hotel'
key = g_key

params = { 
    'radius': area,
    'type' : kind,
    'key': key}

#Hit the Google Places API for each city's coordinates.
for index, row in hotel_df.iterrows():
    lat = row['Latitud']
    lon = row['Longitud']
    
    print(f'{url}location={lat},{lon}'&{params})
    requests.get()

TypeError: unhashable type: 'dict'

NameError: name 'url' is not defined

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map